<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="user signinBx">
                <div class="imgBx">
                    <img src="/static/bg_images/login.jpg" alt="">
                </div>
                <div class="formBx">
                    {{ login_form }}
                    <form action="/login/" method="post">
                        {% csrf_token %}
                        <img src="/static/images/logo.png" alt="">
                        <h2>登录</h2>
                        <input type="text" placeholder="用户名" name="username">
                        <input type="password" placeholder="密码" name="password">
                        <input type="submit" value="登录">
                        <p class="signup">没有账号？<a href="#" onclick="toggleForm();">注册</a></p>
                    </form>
                </div>
            </div>

            <div class="user signupBx">

                <div class="formBx">
                    {{ register_form }}
                    <form action="/login/" method="post">
                        {% csrf_token %}
                        <img src="/static/images/logo.png" alt="">
                        <h2>注册</h2>
                        <input type="text" placeholder="用户名" name="username">
                        <input type="password" placeholder="密码" name="password1">
                        <input type="password" placeholder="重复密码" name="password2">
                        <input type="submit" value="注册">
                        <p class="signup">已有账号？<a href="#" onclick="toggleForm();">登录</a></p>
                    </form>
                </div>
                <div class="imgBx">
                    <img src="/static/bg_images/register.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

        <script>
        function toggleForm(){
            section = document.querySelector('section');
            container = document.querySelector('.container');
            container.classList.toggle('active');
            section.classList.toggle('active');
        }
            {% if messages %}
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
            {% endif %}
    </script>


</body>
</html>