<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>推荐</title>
	 <link rel="stylesheet" type="text/css" href="../css/recommendation.css"/>
      <script  type= "text/javascript" src="../js/jquery-3.6.0.js"></script>
    <script  type= "text/javascript" src="../js/recommendation.js"></script>
</head>
<body>
	<div id="container">
		 <div id="nav" >
            <ul class="search_ul">
                <li class="search_li"><a href="index.html" class="people"><img width="50px" height="30px" src="../images/logo.png"/></a></li>
                <li class="search_li"><a href="index.html" >首页</a></li>
                <li class="search_li"><a href="recommendation.html" class="active_nav">推荐</a></li>
                <li class="search_li"><a href="community.html">社区</a></li>

               <!--  <li class="search_li" style="float:right"><a href="#">注册</a></li> -->
                <li class="search_li" style="float:right"><a href="login.html">登录</a></li>
                <li class="search_li" style="float:right"><a href="community.html" class="people"><img width="16px" height="16px" src="../icons/people.png"/></a></li>
                <li class="search_li" style="float:right"><a href="search.html" class="people"><img width="16px" height="16px" src="../icons/查找.png"/></a></li>
               <!--  <li class="search_li" style="float:right">
                    <div class="search">
                        <input type="text" placeholder="请输入..." name="" id="" value="" />
                        <button>搜索</button>
                    </div>
                </li> -->
              </ul>
        </div>
        <div id="Re-Content">
        	<div id="recommend">
        		<div id="firstWin" class="input_content">
        			<img class="input_pic" id="input_pic1" src="../images/bgre1.png" alt="未查找到图片">
        			<input id="search1" class="nameSearch" type="text"placeholder="请输人片名">
                    <div class="search_suggest" id="suggest_list1">
                        <ul>
                        </ul>
                    </div>
        		</div>

        		<img class="plus" src="../icons/加号.png" alt="未找到图片">

        		<div id="secondWin" class="input_content">
        				<img class="input_pic"
                        id="input_pic2" src="../images/bgre2.png" alt="未查找到图片">
        			<input  id="search2" class="nameSearch" type="text"placeholder="请输人片名">
                     <div class="search_suggest" id="suggest_list2">
                        <ul>
                        </ul>
                    </div>
        		</div>
        		<!-- 合成 -->
        	    <button id="search_btn" class="search_re">查找</button>
        	</div>
              <div class="xian" ></div>
            <p class="fanju">搜索结果</p>
            <div id="searchResult">
           
            <!-- 查找结果 -->
           <!--      <div class="split
            "><hr class="lef" />
                    <p class="text1">推荐</p>
                 <hr class="rig" /></div> -->
               <!--  <a href="detail.html" class="transform">
                    <div class="item">
                    <img class="result_pic" src="../anim_images/滑头鬼之孙.png" alt="未查找到图片">
                    <p class="anim_title">
                     滑头鬼之孙
                    </p>
                  </div>
                </a>

        	    <a href="detail.html" class="transform">
                    <div class="item">
                    <img class="result_pic" src="../anim_images/狐妖小红娘.png" alt="未查找到图片">
                    <p class="anim_title">
                     狐妖小红娘
                    </p>
                </div>
                </a>
        	   
        	     <a href="detail.html" class="transform">
                    <div class="item">
                    <img class="result_pic" src="../anim_images/海贼王女.png" alt="未查找到图片">
                    <p class="anim_title">
                     海贼王女
                    </p>
                </div>
                </a>
        	     
                <a href="detail.html" class="transform">
                    <div class="item">
                    <img class="result_pic" src="../anim_images/86-不存在的战区-2期.png" alt="未查找到图片">
                    <p class="anim_title">
                     86-不存在的战区-2期
                    </p>
                </div>
                </a>
        	     
                 <a href="detail.html" class="transform">
                     <div class="item">
                    <img class="result_pic" src="../anim_images/白沙的水族馆.png" alt="未查找到图片">
                    
                     <p class="anim_title">
                     白沙的水族馆
                    </p>
                
                </div>
                </a>
        	    
                 
                     <div class="item">
                    <a href="detail.html" class="transform">
                    <img class="result_pic" src="../anim_images/takt op.Destiny.png" alt="未查找到图片">
                    
                     <p class="anim_title">
                     takt op.Destiny
                    </p>
               
                </div> 
            </a>
                 -->
                

            </div>
        	
        </div>
	</div>
</body>
</html>